// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
sup {
  top: -0.5em;
  vertical-align: super;
}

.follow_byline {
  margin: 30px 0 10px 0; display: block;
}
